@import "../../styles/mixins";

.tabList {
  position: relative;
	display: flex;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0.2px;
	line-height: 34px;
	height: 7.3rem;
	align-items: flex-end;

  &::before {
    position: absolute;
    right: 0;
    left: 0;
    border-bottom: 1px solid rgba(5,5,5,.06);
    content: '';
  }
}
.tabItem {
	color: var(--brand-aubergine);
	display: flex;
	align-items: center;
	position: relative;
	height: 7.3rem;
	font-weight: var(--font-weight-medium);
  cursor: pointer;

	&:not(:last-child) {
		margin-right: 3rem;
	}

  &.active:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: var(--brand-aubergine);
    animation: fade-in 0.3s ease both;
    border-radius: 4px;
  }
}

.tabPanels {
  @include bravo();
  padding: 16px 0px;
}

.panel {
  display: none;

  &.active {
    display: block;
  }
}