html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 10px;
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--neutral-10);
  font-family: FuturaBT, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --white: #ffffff;
  --brand-aubergine: #61304d;
  --brand-aubergine-inactive: #9c8b95;
  --brand-aubergine-hover: #4e273e;
  --brand-coral: #eb6e68;
  --brand-coral-hover: #e54139;
  --brand-coral-inactive: #c98d8a;
  --brand-cyan: #63b6c8;
  --brand-sun: #f5bf33;
  --neutral-00: #fff;
  --neutral-10: #ecf2f3;
  --neutral-20: #dee7e8;
  --neutral-40: #bdd2d6;
  --neutral-50: #a2babe;
  --neutral-60: #84a4a9;
  --neutral-70: #537074;
  --neutral-80: #334548;
  --neutral-90: #192224;
  --neutral-100: #000;
  --legende: #84a400;
  --divider: #dde7e9;

  --font-weight-light: 100;
  --font-weight-medium: 400;
  --font-weight-book: 300;
  --font-weight-bold: 700;
  --font-weight-heavy: 900;

  --spacer-four-xs: 2px;
  --spacer-three-xs: 4px;
  --spacer-xxs: 8px;
  --spacer-xs: 12px;
  --spacer-s: 16px;
  --spacer-m: 20px;
  --spacer-l: 24px;
  --spacer-xl: 32px;
  --spacer-xxl: 48px;
  --spacer-three-xl: 64px;

  --transition-regular: 0.3s ease;

  --elevation-15: 0 2px 4px -1px rgba(0, 0, 0, 0.15),
  0 3px 10px -5px rgba(0, 0, 0, 0.3);
  --elevation-50: 0 4px 8px -1px rgba(0, 0, 0, 0.05), 0 13px 21px -3px rgba(0, 0, 0, 0.05), 0 18px 50px 4px rgba(0, 0, 0, 0.08);
}

@font-face {
  font-display: fallback;
  font-family: 'FuturaBT';
  font-weight: 100;
  src: url('/fonts/FuturaBT-Light/font.woff2') format('woff2'),
    url('/fonts/FuturaBT-Light/font.woff') format('woff');
}

@font-face {
  font-display: fallback;
  font-family: 'FuturaBT';
  font-weight: 300;
  src: url('/fonts/FuturaBT-Book/font.woff2') format('woff2'),
    url('/fonts/FuturaBT-Book/font.woff') format('woff');
}

@font-face {
  font-display: fallback;
  font-family: 'FuturaBT';
  font-weight: 400;
  src: url('/fonts/FuturaBT-Medium/font.woff2') format('woff2'),
    url('/fonts/FuturaBT-Medium/font.woff') format('woff');
}

@font-face {
  font-display: fallback;
  font-family: 'FuturaBT';
  font-weight: 900;
  src: url('/fonts/FuturaBT-Heavy/font.woff2') format('woff2'),
    url('/fonts/FuturaBT-Heavy/font.woff') format('woff');
}
