@import '../../styles/mixins';

.select-input {
  display: inline-block;
  :global {
    .select-input__label {
      @include bravo;
      color: var(--neutral-70);
      margin-bottom: 4px;
    }
    .select-input__message {
      color: var(--neutral-60);
      margin-top: 0.35rem;
    }
    .select-input__info {
      color: var(--aubergine);
      margin-left: 0.6rem;
    }
    .select-input__main {
      display: flex;
      align-items: center;
    }
    .select-input--full-width {
      width: 100%;
      .makaira-select {
        width: 100%;
      }
    }
    .select-input--allow-clear {
      .makaira-select-selector {
        padding: 0 48px 0 8px;
      }
      .makaira-select-selection-item {
        max-width: calc(100% - 56px);
      }
    }
    .makaira-select {
      @include bravo;
      min-width: 9rem;
      width: auto;
      color: var(--brand-aubergine);
      height: 3.3rem;
      display: inline-block;
      position: relative;
      .makaira-select-selection-placeholder {
        pointer-events: none;
        color: var(--neutral-80);
        position: absolute;
        opacity: 0.4;
      }
    }
    .makaira-select-selector {
      @include bravo;
      cursor: pointer;
      border: 1px solid var(--neutral-40);
      background: var(--white);
      border-radius: 4px;
      padding: 0 28px 0 8px;
      display: flex;
      height: 100%;
      align-items: center;
      .makaira-select-selection-search-input {
        display: block;
        background: none;
        width: 100%;
        height: 100%;
      }
      input {
        padding: 0;
        cursor: pointer;
        border: none;
        outline: none;
      }
    }
    .makaira-select-selection-item,
    .makaira-select-selection-placeholder {
      position: absolute;
      font-weight: var(--font-weight-bold);
      min-width: 20px;
      max-width: calc(100% - 32px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .makaira-select-disabled,
    .makaira-select-disabled input,
    .makaira-select-disabled .makaira-select-selector {
      cursor: not-allowed;
    }
    .makaira-select-disabled {
      .makaira-select-selector {
        background: #fafafa;
      }
    }
    .makaira-select-focused {
      .makaira-select-selector {
        outline: 2px solid var(--sunny);
      }
    }
    .makaira-select-allow-clear {
      .makaira-select-clear {
        position: absolute;
        right: 28px;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      .icon {
        width: 16px;
        height: 16px;
      }
    }
    .makaira-select-show-arrow {
      .makaira-select-arrow {
        pointer-events: none;
        position: absolute;
        right: 8px;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
      }
      .icon {
        width: 16px;
        height: 16px;
      }
    }

    input[type='search']::-webkit-search-decoration,
    input[type='search']::-webkit-search-cancel-button,
    input[type='search']::-webkit-search-results-button,
    input[type='search']::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }
}

.select-input--borderless {
  :global {
    .makaira-select-selector,
    .makaira-select-item-option-content {
      border: none;
      outline: none;
      background: unset;
    }
  }
}

.select-input--error {
  :global {
    .select-input__label,
    .select-input__message {
      color: var(--brand-coral) !important;
    }
    .makaira-select {
      &.makaira-select-single {
        .makaira-select-selector {
          border-color: var(--brand-coral) !important;
        }
      }
    }
  }
}

.select-input__dropdown {
  border-radius: 0.4rem;
  border: 1px solid var(--neutral-40);
  background: var(--white);
  min-height: 3.3rem;
  position: absolute;
  overflow: hidden;

  &[class~='makaira-select-dropdown-hidden'] {
    display: none;
  }

  :global {
    .makaira-select-item {
      @include bravo;
      position: absolute;
      padding: 4px 8px;
      cursor: pointer;
    }
    .makaira-select-item-group {
      color: var(--neutral-70);
      font-weight: var(--font-weight-bold);
      position: relative;
    }
    .makaira-select-item-option {
      position: relative;
    }
    .makaira-select-item-option-grouped {
      padding-left: 24px;
    }
    .makaira-select-item-option-state {
      display: none;
      position: absolute;
      top: 4px;
      right: 0;
      pointer-events: none;
    }
    .makaira-select-item-option-selected,
    .makaira-select-item-option-active {
      background: var(--brand-aubergine);
      color: var(--white);
    }
    .makaira-select-item-option-disabled {
      opacity: 0.7;
    }
    .makaira-select-item-empty {
      @include bravo;
      text-align: center;
      color: var(--neutral-30);
      line-height: 3.3rem;
    }
  }
}

.select-input--large {
  :global {
    .makaira-select-selector,
    .makaira-select-item-option-content,
    .makaira-select-item-empty {
      @include echo;
      font-weight: var(--font-weight-book);
    }
    .makaira-select {
      height: 4rem;
    }
    .makaira-select-selection-placeholder {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-weight: normal;
    }
    .makaira-select-selection-search-input {
      @include echo;
      height: 100%;
    }
    .makaira-select-selection-item {
      font-weight: var(--font-weight-book);
      padding-bottom: 6px;
    }
    .makaira-select-show-arrow {
      .makaira-select-arrow {
        .svg {
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}
