@import "../../styles/mixins";

.table {
  :global {
    .makaira-table {
      table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
      }

      .makaira-table__header-column {
        display: flex;
        justify-content: center;

        &--sortable {
          cursor: pointer;
        }
      }

      .makaira-table-row {
        border-bottom: 1px solid var(--neutral-40);
        height: 4.8rem;
        cursor: pointer;
      }

      .makaira-table-thead .makaira-table-cell {
        font-weight: var(--font-weight-book);
        @include bravo;
        color: var(--neutral-60);
        text-align: left;
        padding: var(--spacer-m) var(--spacer-xxs) var(--spacer-xs) var(--spacer-xxs);
        border-bottom: 1px solid var(--neutral-40);
      }

      .makaira-table-tbody {
        tr:nth-child(2n) .makaira-table-cell {
          background: #F5F8F9;
        }

        .makaira-table-cell {
          @include charlie;
          font-weight: var(--font-weight-medium);
          color: var(--brand-aubergine);
          padding: var(--spacer-xxs) var(--spacer-s);
          background: var(--neutral-00);
        }
      }
    }
  }

}

.loading {
  position: relative;

  .loadingSnipper {
    position: absolute;
    top: calc(50% + 24px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  :global {
    .makaira-table {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.rightArrow {
  color: var(--neutral-50);
  height: 1.8rem;
  width: 1.8rem;
}