.wrapper {
  display: flex;
  height: 7.3rem;
  color: var(--brand-aubergine);
  border-bottom: 1px solid var(--neutral-20);
  background: var(--neutral-10);
}

.main {
  display: flex;
  position: relative;
  min-width: 0;

  .title {
    padding-top: var(--spacer-xs);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.prefix {
  width: 23rem;
  text-align: right;
  padding-right: var(--spacer-m);
  padding-top: var(--spacer-l);

  .text {
    width: calc(230px - var(--spacer-s));
    color: var(--neutral-60);
  }
}